@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(56, 182, 255);
    background: linear-gradient(90deg, rgba(56, 182, 255, 1) 0%, rgba(255, 189, 89, 1) 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    background: rgb(56, 182, 255);
    background: linear-gradient(90deg, rgba(56, 182, 255, 1) 0%, rgba(255, 189, 89, 1) 74%);
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text {
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(120, 203, 231);
}

a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 13px 13px 60px rgba(0, 0, 0, 0.829);
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background: rgb(56, 182, 255);
    background: linear-gradient(90deg, rgba(56, 182, 255, 1) 0%, rgba(255, 189, 89, 1) 74%);
    font-size: 15px;
    font-weight: 800;
    border: 0 solid;
    box-shadow: 6px 6px 18px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

button:hover {
    filter: brightness(1.12);
    border: 0 solid;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#logo {
    width: 100%;
}

#buttons {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}